services:
  gql-sep-asuntos-relevantes:
    build:
      context: ./SAR/gql-sep-asuntos-relevantes
      dockerfile: Dockerfile
    restart: unless-stopped
    environment:
      NODE_ENV: ${NODE_ENV:-production}
      PORT: ${PORT:-5008}
      DBINIFED: ${DBINIFED:-postgres://usr:password@host:5432/dbname}
      SECRET_KEY: ${SECRET_KEY:-anysecret}
      LIMIT_BODY: ${LIMIT_BODY:-1mb}
      TZ: ${TZ:-'America/Mexico_City'}
      CODE: ${CODE:-anyvariablecode}
    ports:
      - "5008:5008"
    networks:
      - sar-network
 

networks:
  sar-network:
    driver: bridge
    ipam:
      config:
        - subnet: 172.20.0.0/16
